.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;

    a {
        text-decoration: none;
        text-transform: uppercase;
    }
}

.icon {
    width: 20px;
    height: 20px;
}